.grid {
  margin-left: 64px;
  width: 100%;
  max-width: 888px;
  margin-top: 48px;
  margin-right: auto;
  box-sizing: border-box;
}
.camperCard {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 16px;
  margin-bottom: 32px;
}

/* Hover Effect for Camper Card */
.camperCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.camperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceAndHeart {
  display: flex;
  align-items: center;
  gap: 8px;
}
.camperPrice {
  font-size: 24px;
  font-weight: 600;
  color: var(--main);
}
.heartIcon {
  font-size: 24px;
  cursor: pointer;
  height: 24px;
  width: 26px;
}

/* Camper Image Wrapper */
.camperImageWrapper {
  overflow: hidden;
  border-radius: 12px;
  margin-right: 16px;
}

/* Camper Image Styling */
.camperImage {
  width: 292px;
  height: 320px;
  object-fit: cover;
}

/* Camper Details Styling */
.camperDetails {
  flex: 1;
}

/* Camper Title */
.camperTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}
.camperMeta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

/* Reviews Styling */
.reviews {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.starIcon {
  color: var(--rating);
  width: 16px;
  height: 16px;
}

.reviewText {
  font-weight: 500;
}

/* Location Styling */
.location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}
.reviews,
.location {
  display: flex;
  align-items: center;
  gap: 6px;
}
.icon {
  color: var(--main);
  font-size: 16px;
}

/* Camper Description */
.camperDescription {
  font-size: 16px;
  color: var(--gray-dark);
  line-height: 1.4;
  height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text);
}

/* Category Container */
.categoryContainer {
  margin-top: 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: start;
  gap: 12px;
}

/* Category Box */
.typeBox {
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  display: flex;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  border: 1px solid var(--gray-light);

  border-radius: 100px;
  padding: 12px 18px;

  background: var(--badges);
  mix-blend-mode: multiply;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.typeBox .icon {
  font-size: 16px;
  color: var(--main);
}

/* Show More Button */
.showMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: row;
  background-color: var(--button);
  border: none;
  border-radius: 200px;
  color: var(--white);
  cursor: pointer;
  margin-top: 16px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--white);
  white-space: nowrap;
}

.showMoreBtn:hover {
  background-color: var(--button-hover);
}
