.contentWrapper {
  margin-bottom: 60px;
  margin-top: 48px;
}

.camperName {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}

.ratingLocation {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 24px;
}

.ratingText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.locationText {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.priceSum {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 28px;
}

.photosList {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 28px;
}

.imageThumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 320px;
  border-radius: 10px;
}

.image {
  height: 100%;
  object-fit: cover;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}
