.wrapper {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding-bottom: 40px;
}

.loadMoreBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 32px;
  width: 145px;
  height: 56px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--main);
  letter-spacing: -0.01em;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.loadMoreBtn:hover {
  border-color: var(--button);
}
